<!DOCTYPE html>
<html>
<head>
  <title>Your Website</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  
  <nav class="video-container">
  <video autoplay loop muted>
    <source src="video.mp4" type="video/mp4">
  </video>
  <div class="content">
    <!-- Your content goes here -->
    <h1>Welcome to my site!</h1>
    <p>This is some sample content.</p>
  </div>
  <div class="Header-menu">
    <ul>
      <li><a href="#">How We Teach</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Prices</a></li>
      <li><a href="#">Availability</a></li>
    </ul>
  </div>
  </nav>
  <div class="latin-text">
  <h1>Lorem ipsum dolor sit amet</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel felis nec nulla gravida iaculis. Donec pellentesque, dui in ultricies porttitor, elit neque condimentum quam, et euismod nulla mauris a enim. Nam id rutrum nisi, eu lobortis neque. Maecenas finibus felis vel sem mattis, vel ultricies lacus eleifend. Suspendisse potenti. Sed ut iaculis ex. Fusce in est a dui elementum consectetur. Quisque non vestibulum odio, sed efficitur nisi. Fusce lobortis, turpis vitae tincidunt lobortis, nisi ex hendrerit diam, eget viverra justo felis ut nunc.</p>
  <p>Nullam auctor, elit id tincidunt rhoncus, mi ex sollicitudin sem, sed tincidunt enim risus at ligula. Vestibulum tempor lacinia orci, nec facilisis nulla cursus eu. Nam blandit lectus id libero eleifend vestibulum. Nunc consequat purus a congue tincidunt. Aliquam nec lobortis metus. Vivamus ac neque vitae turpis tempor vestibulum. Nulla facilisi.</p>
  </div>
  <div class="article">
  <h2>Article Title</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo, nunc ut hendrerit consectetur, mauris ligula facilisis arcu, at vulputate felis libero ac dui. Morbi vel augue consequat, hendrerit lectus eu, consequat tellus.</p>
  </div>
  <footer>
    <div class="footer-menu">
      <ul>
        <li><a href="#">How We Teach</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Prices</a></li>
        <li><a href="#">Availability</a></li>
      </ul>
    </div>
  <div class="footer-social">
    <a href="#"><img src="instagram.png" alt="Instagram"></a>
    <a href="#"><img src="facebook.png" alt="Facebook"></a>
    <a href="#"><img src="reels.png" alt="Reels"></a>
  </div>

  </footer>
</body>
</html>




