

/* Body styles */
body {
  margin: 0;
  padding: 0;
  display: flex; /* Add this to enable flex layout */
  flex-direction: column; /* Add this to arrange elements vertically */
  min-height: 100vh; /* Add this to make sure the body covers the full height of the viewport */
}

/* Header styles */
.Header-menu {
  position: absolute;
  top: 5%;
  left: 90%;
  transform: translate(-50%, -50%);
  color: #fff;
  align-items: center;
 
  color: transparent;

  margin: 0;
  
  padding: 20px;
  width: 100%;

  z-index: 30;
  
}

.Header-menu ul {
  display: flex;
  align-items: center;
  
  top: 40px;
  
  
  display: flex;
}

.Header-menu ul li {
 
  padding-left: 40px;
  align-items: left;
  
  
  text-decoration: none;
  z-index: 30;
  
}

.Header-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  
}
.logo{
position: absolute;
top: 20px;
left: 18px;
z-index: 20;}

.logo img{
width: 100px;
height: auto;
z-index: 40;}
/* Video background styles */
.video-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 2;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  z-index: 10;
}

/* Content styles */
.latin-text {
  margin-top: auto;
  font-size: 20px; /* Adjust the font size as needed */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  

}

.latin-text.show {
  visibility: visible;
  opacity:1;
}

.latin-text h1 {
  font-size: 24px; /* Adjust the heading font size as needed */
  font-weight: bold;
}

.latin-text p {
 

  color: black;
}

.article {
  background-color: #f5f5f5;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.article h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.article p {
  font-size: 16px;
  line-height: 1.5;
}

/* Footer styles */
footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  z-index: 20;
}

.footer-menu ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-menu li {
  margin-right: 20px;
}

.footer-menu li:last-child {
  margin-right: 0;
}

.footer-menu a {
 color: white;
  text-decoration: none;
}

.footer-social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer-social a {
  display: inline-block;
  margin-right: 10px;
  color: white;
}

.footer-social a:last-child {
  margin-right: 0;
}
.Header-menu {
  display: block;
}

@media (max-width: 500px) { /* Adjust the maximum width for mobile devices */
  .Header-menu {
      display: none;
  }
}
.Header-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Header-menu li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}

.Header-menu li a {
  text-decoration: none;
}

.Header-menu li.active::after {
  content: "";
  position: absolute;
  left: 20px;
  
  bottom: -10px;
  width: 100%;
  height: 4px;
  background-color: white; /* Adjust the underline color */
}
#toggleButton {
  position: absolute;
  top: 20px;
  right: 30px;
  border: none;
  height: 40px;
  width: 40px;
  background-image: url("menu.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  cursor: pointer;
  z-index: 9999;
}

header, article {
  display: block;
}

footer {
  background-color: black;
  color: white;
  padding: 10px;
}

.footer-visible header, .footer-visible article {
  display: none;
}

.footer-visible footer {
  background-color: white;
  color: black;
}
.footer-visible .footer-menu a {
  color: black;
}
.footer-visible .footer-social a {
  color: black;
}
.slick-prev {
  opacity: 30%;
  position: absolute;
  font-size: 40px;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  width: 40px;
  height: 60px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1;
}
.slick-next {
  opacity: 30%;
  font-size: 40px;
  position: absolute;
  top: 50%;
  right: 85%;
  transform: translateY(-50%);
  width: 40px;
  height: 60px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1;
}

  /* CSS for the image */
  .container {
    position: relative;
    background-color: white;
    width: 100%;
    height: 700px;
    margin: 0 auto;
    overflow: hidden;
  }

  /* CSS for the moving image */
  #moving-image {
    position: absolute;
    top: 60%;
    left: 40%;
    width: 300px;
    height: 300px;
    background-image: url('image1.jpg');
    background-size: cover;
    transition: transform easy 1s;
    transform: translate(-50%, 0);
    z-index: 100;
  }
  #static-image{
    position: absolute;
    top:10%;
    bottom: 10%;
    left:50%;
    width: 500px;
    height: 450px;
    background-image: url('image1.jpg');
    z-index: 90;
  }
